/* 
admin-record-table {
    max-height: 84%;
} */

mat-tab-group {
    padding: 5px;
    height: 84%;
}

mat-tab-group ::ng-deep .mat-mdc-tab-body-wrapper {
    height: 100%;   
}

mat-tab-group ::ng-deep .tab-option {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px;
    gap: 5px;
}