<mat-toolbar color="primary">Schoolbuilding music request admin</mat-toolbar>
<mat-tab-group dynamicHeight color="accent" [(selectedIndex)]=selectedIndex>
    <mat-tab label="Ongoing event info">
        <admin-current-event
            [event_update$]="events_update.asObservable()"
            (eventUpdate)="eventInfoUpdate()"
            class="tab-option"
        >
        </admin-current-event>
    </mat-tab>
    <mat-tab label="Record handler">
        <admin-record-table
            class="tab-option"
        >
        </admin-record-table>
    </mat-tab>
    <mat-tab label="Events">
        <admin-event-table
            [event_update$]="event_info_update.asObservable()"
            (eventUpdate)="eventsUpdate()"
            class="tab-option"
        >
        </admin-event-table>
    </mat-tab>
</mat-tab-group>