/* 
admin-record-table {
    max-height: 84%;
} */

mat-tab-group {
    padding: 5px;
    height: 86%;
}

mat-tab-group ::ng-deep .mat-mdc-tab-body-wrapper {
    height: 100%;
}

mat-tab-group ::ng-deep .tab-option {
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 5px;
}