#add-new-event {
    position: fixed;
    right: 1%;
    bottom: 3%;
}

.events {
    overflow-y: auto;
}

.event-box {
    border: 1px solid black;
}

.event-table-action-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: right;
}