<div>The following events are present in the db:</div>

<mat-accordion id="mat-expansion-panel-title">
    <mat-expansion-panel disabled>
        <mat-expansion-panel-header>
            <mat-panel-title>Name</mat-panel-title>
            <mat-panel-description>status</mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>

<div class="events">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let event of events$ | async" [expanded]="event.alive">
            <mat-expansion-panel-header>
                <mat-panel-title>{{event.name}}</mat-panel-title>
                <mat-panel-description *ngIf="event.alive">active</mat-panel-description>
            </mat-expansion-panel-header>

            <div>
                <event-info [event_detail]="event"></event-info>
                <div class="event-table-action-buttons">
                    <button mat-raised-button color="warn" *ngIf="!event.alive" (click)="deleteEvent(event.id)">Delete</button>
                    <button mat-raised-button color="accent">Edit</button>
                    <button mat-raised-button [color]="event.alive ? 'warn' : 'primary'"
                        (click)="changeEventState(event.id, !event.alive)">
                        {{event.alive ? "Stop" : "Start"}}
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div id="add-new-event">
    <button mat-mini-fab (click)="addNewEvent()">
        <mat-icon>add</mat-icon>
    </button>
</div>