<div *ngIf="!!record_data">
    <span>
        {{record_data.value}}
        <button mat-icon-button [cdkCopyToClipboard]="record_data.value" (click)="successfullCopy()">
            <mat-icon>event_note</mat-icon>
        </button>
    </span>
    <span class="record-line-buttons">
        <button mat-mini-fab color="warn" (click)="delete.emit()">
            <mat-icon>close</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="done.emit()">
            <mat-icon>done</mat-icon>
        </button>
    </span>
</div>